<div class="container mt-4">

    <span class="text-success my-3" *ngIf="showSuccess">
        Post Created SuccessFully
        {{SubmitedData |json}}
    </span>
    <form action="" [formGroup]="postForm">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Select User</label>
            <select formControlName="userId" name="userId" class="form-select" aria-label="Default select example">
                <option *ngFor="let item of userList" [ngValue]="item.id">{{item.name}}</option>
            </select>
            <span class="text-danger"
                *ngIf="(postFormControl.userId.touched || submitted) && postFormControl.userId.errors?.['required']">
                User is required
            </span>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input formControlName="title" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Enter Value">

            <span class="text-danger"
                *ngIf="(postFormControl.title.touched || submitted) && postFormControl.title.errors?.['required']">
                Title is required
            </span>
        </div>
        <div class=" mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea formControlName="body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <span class="text-danger"
                *ngIf="(postFormControl.body.touched || submitted) && postFormControl.body.errors?.['required']">
                Content is required
            </span>
        </div>
        <div class="mb-3">
            <button (click)="CreatePost()" type="button" class="btn btn-primary">Create
                Post</button>
        </div>


    </form>

</div>